@use "sass:math";
@import "../abrites-vue-ui/styles/core";

@include base-layout();

#app {
  display: block;
  width: 100%;
  min-height: 100vh;
  background: $base-color;
}

// prismjs overrides
code:not([class*="language-"]) {
  background: $hover-color;
  font-family: monospace;
  padding: 2px 3px;
  border-radius: $border-radius;
}
body {
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: $hover-color;
  }
}

.section-title {
  display: block;
  padding-bottom: 10px;
  margin: ($base-spacing) 0 (math.div($base-spacing, 2));
  border-bottom: 1px solid $border-color;
  &:first-child {
    margin-top: 0;
  }
}

.component-title {
  display: flex;
  align-items: center;
  font-weight: $txt-bold;
  & > * {
    margin-left: (math.div($base-spacing, 2));
    &:first-child {
      margin-left: 0;
    }
  }
}
